<!DOCTYPE html>
<html>

<head>
    <title>COLOUR GAME</title>
    <link rel="stylesheet" type="text/css" href="/views/colorgame.css">
    <script type="text/javascript" src="/views/colourgame.js"></script>
    </body>
</head>

<body>
    <h1 id="h1">The Great <br>
        <span id="colourdisplay"> RGB</span>
        <br> Colorsgame </h1>
    <div id="strip">
        <button id="btn">new colours</button><span id="message"></span><button>level</button>
    </div>
    <div id="container">
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
    </div>
    <script type="text/javascript" src="colourgame.js"></script>
</body>

</html>